<div id="main-title" class="row center-block profile-main-title">
  <h1 id="main-title-body">PROFILE INFO</h1>
  <div id="main-bar-color" class="center-block"></div>

  <% @meta.each do |m| %>
      <% user_meta = m.get_meta_user(@friend.id) %>
      <div class="info-details row">
        <h4 class="pull-left"><%= m.name %></h4>
        <h4 class="pull-right">

          <div data-usermetaid="<%= user_meta.id %>" class="meta-value">
            <% if m.datatype == "url"%>
               <a class="value" href="<%= user_meta.value %>"></a>
            <% else %>
               <span class="value"><%= user_meta.value %></span>
            <% end %>
          </div>

          <% if @isMyprofile %>
              <img class="icon-edit-meta" src="/assets/icon-edit.png" />
              <img class="icon-save-meta" src="/assets/icon-save.png" />
          <% end %>

        </h4>
      </div>
  <% end %>
</div>
<!--End main-title-->