<div id="main-title" class="row center-block profile-main-title">
  <h1 id="main-title-body">PROFILE INFO</h1>
  <div id="main-bar-color" class="center-block"></div>

  <div class="info-details row">
    <h4 class="pull-left">Country</h4>
    <h4 class="pull-right">U.S.A</h4>
  </div>
  <div class="info-details row">
    <h4 class="pull-left">City</h4>
    <h4 class="pull-right">Mestropolis</h4>
  </div>
  <div class="info-details row">
    <h4 class="pull-left">Twitter</h4>
    <h4 class="pull-right"><a href="#">@supergirll</a></h4>
  </div>
  <div class="info-details row">
    <h4 class="pull-left">Favorite Burger</h4>
    <h4 class="pull-right"><a href="#">Juicy Lucy</a></h4>
  </div>
  <div class="info-details row">
    <h4 class="pull-left">Favorite Resturant</h4>
    <h4 class="pull-right"><a href="#">Circle 7 Ranch</a></h4>
  </div>
  <div id="info-details-age" class="info-details row">
    <h4 class="pull-left">Age</h4>
    <h4 class="pull-right">28</h4>
  </div>
</div>
<!--End main-title-->