<div id="myprofile-map" class="col-md-6">
  <div id="map-canvas"></div>
</div>
<!-- End .map -->

<div id="myprofile-list-product" class="col-md-6">
  <%= render partial: "myprofile_product", collection: @products %>
</div>
<!-- End list-product -->