<div id="main" class="col-md-12">

  <div id="city-filter" class="row center-block">
    News<span id="total-reviewed">(<%= @reviews.count %>)</span>
  </div>
  <!-- End city-filter -->

  <div class="row" id="main-body">
    <div id="list-products" class="col-md-12">
      <%= render partial: "user_followed", collection: @reviews %>

      <a href="/home/news?fulllist=true">
        <button class="center-block btn-seefull">SEE MORE</button>
      </a>

    </div>
    <!-- End list-product -->
  </div>
  <!-- End main-body -->

</div>
<!-- End main -->