<div id="step-1-container-fluid" class="container-fluid step-container-fluid">
  <div id="step-1-container" class="container step-container">
    <div id="step-1-left" class="col-md-4 col-sm-4 col-xs-4 step-left">
      <img id="step-1-image" class="center-block img-responsive" src="/assets/review/check.png"  alt="" />
      <!--<img id="step-1-image-mobile" class="center-block img-responsive" src="/assets/review/check.png"  alt="" />-->
      <h3 class="center-block text-title">Resturant & Burger</h3>
      <h4 class="center-block text-details">This is some detail for this step</h4>
      <h4 class="center-block text-details">if it needs it</h4>
    </div>
    <div id="step-1-right" class="col-md-8 col-sm-8 col-xs-8 step-right">

      <div class="form-group form-group-mobile form-group-mobile-top">
        <input class="txt-control txt-success txt-control-mobile-top" value="<%= @product.restaurant.name %>" />
        <img src="/assets/review/valid.png" />
      </div>

      <div class="form-group form-group-mobile">
        <input placeholder="Name Of Burger" class="txt-control txt-success txt-normal txt-control-mobile-bottom" value="<%= @product.name %>" />
        <img src="/assets/review/valid.png" />
      </div>
    </div>
  </div>
</div>
<%= form_tag("/home/review", method: "post") do %>
<div id="step-2-container-fluid" class="container-fluid step-container-fluid">
  <div id="step-2-container" class="container step-container">
    <div id="step-2-left" class="col-md-4 col-sm-4 col-xs-4 step-left">
      <img class="center-block img-responsive" src="/assets/review/2.png"  alt="" />
      <h3 class="center-block text-title">Rate</h3>
      <h4 class="center-block text-details">This is some detail for this step</h4>
      <h4 class="center-block text-details">if it needs it</h4>
    </div>
    <div id="step-2-left-mobile">
      <div id="step-2-left-title-mobile">
        <div id="image-step-2-mobile">
          <img class="center-block img-responsive" src="/assets/review/2.png"  alt="" />
        </div>
        <span id="image-text-step-2-mobile">Rate</span>
        <div class="clearfix"></div>
      </div>
      <div id="box-total-number-mobile">
        <span id="total-number-mobile"  class="total-number">0</span>
      </div>
      <div class="clearfix"></div>
    </div>
    <div id="step-2-right" class="col-md-8 col-sm-8 col-xs-8 step-right">
      <div id="total-rate" class="center-block">
        <h5 id="total-title">TOTAL</h5>
        <h1 id="total-number" name="total-number" class="total-number">0</h1>
      </div>

      <div class="form-group form-group-rate-mobile">
        <div class="rate-control">
          <div class="rate-number">1</div>
          <div class="rate-number">2</div>
          <div class="rate-number">3</div>
          <div class="rate-number">4</div>
          <div class="rate-number">5</div>
          <div class="rate-number">6</div>
          <div class="rate-number">7</div>
          <div class="rate-result">0</div>
          <div class="clearfix"></div>
        </div>
      </div>

      <div class="form-group form-group-rate-mobile">
        <div class="rate-control">
          <div class="rate-number">1</div>
          <div class="rate-number">2</div>
          <div class="rate-number">3</div>
          <div class="rate-number">4</div>
          <div class="rate-number">5</div>
          <div class="rate-number">6</div>
          <div class="rate-number">7</div>
          <div class="rate-result">0</div>
          <div class="clearfix"></div>
        </div>
      </div>

      <div class="form-group form-group-rate-mobile">
        <div class="rate-control">
          <div class="rate-number">1</div>
          <div class="rate-number">2</div>
          <div class="rate-number">3</div>
          <div class="rate-number">4</div>
          <div class="rate-number">5</div>
          <div class="rate-number">6</div>
          <div class="rate-number">7</div>
          <div class="rate-result">0</div>
          <div class="clearfix"></div>
        </div>
        <!--<img style="display: inline-block; float: left; border: 1px solid red" class="img-circle img-responsive" src="/assets/review/icon-help.png" />-->
      </div>

      <div class="form-group form-group-rate-mobile">
        <div class="rate-control">
          <div class="rate-number">1</div>
          <div class="rate-number">2</div>
          <div class="rate-number">3</div>
          <div class="rate-number">4</div>
          <div class="rate-number">5</div>
          <div class="rate-number">6</div>
          <div class="rate-number">7</div>
          <div class="rate-result">0</div>
          <div class="clearfix"></div>
        </div>
      </div>

      <div class="form-group form-group-rate-mobile">
        <div class="rate-control">
          <div class="rate-number">1</div>
          <div class="rate-number">2</div>
          <div class="rate-number">3</div>
          <div class="rate-number">4</div>
          <div class="rate-number">5</div>
          <div class="rate-number">6</div>
          <div class="rate-number">7</div>
          <div class="rate-result">0</div>
          <div class="clearfix"></div>
        </div>
      </div>

    </div>
  </div>
</div>

<div id="step-3-container-fluid" class="container-fluid step-container-fluid">
  <div id="step-3-container" class="container step-container">
    <div id="step-3-left" class="col-md-4 col-sm-4 col-xs-4 step-left">
      <img class="center-block img-responsive" src="/assets/review/3.png"  alt="" />
      <h3 class="center-block text-title">Comments</h3>
      <h4 class="center-block text-details">This is some detail for this step</h4>
      <h4 class="center-block text-details">if it needs it</h4>
    </div>

    <div id="step-3-left-mobile">
      <div id="image-step-3-mobile">
        <img class="center-block img-responsive" src="/assets/review/3.png"  alt="" />
      </div>
      <span id="image-text-step-2-mobile">Comments</span>
      <div class="clearfix"></div>
    </div>


    <div id="step-3-right" class="col-md-8 col-sm-8 col-xs-8 step-right">
      <div id="form-group-comment" class="form-group">
        <textarea id="txt-textarea-comment" name="txt-textarea-comment" class="txt-control txt-normal">
        </textarea>
        <div class="inputWrapper">
          <input id="btn-attach-image" class="fileInput" type="file" />
        </div>

      </div>
    </div>
  </div>
</div>

<div id="form-control-submit" class="center-block">
  <button id="btn-talleeup" class="center-block">TALLEEUP!</button>
</div>
<%end%>
<script>
  $(document).ready(function(){
      $.ajax({
          type: "GET",
//          url: 'http://localhost:3000/articles.json',
          url: 'test_ajax',
          //url: 'DeleteProduct',
          //contentType: 'application/text; charset=utf-8',
          //data: _ProductId,
          success: function (data) {
              console.log('success');
          },
          error: function () {
              console.log('error');
          }
      });// end $.ajax
  });
</script>