
<div class="container-locations">
    <div class="locations-map">
      <div id="map-canvas-location"></div>
    </div>
  <div class="locations-product">
    <div class="container-right-locations">
        <div class="location-filter">
          <div class="filter-text"><span>Filter</span></div>
          <div class="filter-text-l"><span>123,Bugers Sanfancisco ,CA </span></div>
        </div>
      <div class="clearfix"></div>
      <div class="conettn-body-locations">
        <div class="m-content-body-item-locations">
          <div class="m-item-conettn-body-locations">
            <a href="/home/BurgerProfile">
            <div class="m-item-img-locations" style="position: relative">
              <%= image_tag("/Uploads/product/01.png", :class => 'img-responsive',:style=>'border-radius:7px') %>
            </div></a>
            <div class="item-body-locations">
              <div class="item-reviews-locations">
                <div class="number-reviews-locations">
                  29.8
                </div>
                <div class="user-reviews-locations">
                  <div class="title-reviews-locations">Reviews</div>
                  <div class="user-data-locations">

                    <div class="item-number-count-locations">(+123)</div>
                    <div class="item-add-locations" data-content="<div class='show_puopt_reviews'><div class='item-show'><div class='text-item-show-yellow '>Plan my experience</div><div class='text-item-show-greeen'>Experience planned</div><div class='text-item-show-tim active-t'>Experience completed</div></div></div>">
                      <%= image_tag("/Images/add_yellow.png") %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="title-product-reviews-locations">
              <a href="/home/BurgerProfile"><div class="name-title-product-review-locations">Super Duper awesome Burger</div></a>
              <div class="name-title-product-review-child-locations">Yum Yum Burger Joint</div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="m-content-body-item-locations">
          <div class="m-item-conettn-body-locations">
            <a href="/home/BurgerProfile"> <div class="m-item-img-locations" style="position: relative">
              <%= image_tag("/Uploads/product/01.png", :class => 'img-responsive',:style=>'border-radius:7px') %>
            </div></a>
            <div class="item-body-locations">
              <div class="item-reviews-locations">
                <div class="number-reviews-locations">
                  29.8
                </div>
                <div class="user-reviews-locations">
                  <div class="title-reviews-locations">Reviews</div>
                  <div class="user-data-locations">

                    <div class="item-number-count-locations">(+123)</div>
                    <div class="item-add-locations" data-content="<div class='show_puopt_reviews'><div class='item-show'><div class='text-item-show-yellow '>Plan my experience</div><div class='text-item-show-greeen'>Experience planned</div><div class='text-item-show-tim active-t'>Experience completed</div></div></div>">
                      <%= image_tag("/Images/add_yellow.png") %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="title-product-reviews-locations">
              <a href="/home/BurgerProfile"> <div class="name-title-product-review-locations">Super Duper awesome Burger</div></a>
              <div class="name-title-product-review-child-locations">Yum Yum Burger Joint</div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
