.bk-header-burgerprofile  {
  height: 692px !important;
  background-color: #5686a9 !important;
  -khtml-opacity: .20 !important;
  -moz-opacity: .20 !important;
  -ms-filter: 'alpha(opacity=20)' !important;
  filter: alpha(opacity=20) !important;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.2) !important;
  opacity: .2 !important;
}
.bk-content-header
{
  float: left;

}
.bk-content-header-burgerprofile
{

  float: left;
  z-index: 99;
  position: absolute;
  padding-top: 10%;
  top: 19%;
}
.bk-content-header-bottom
{
  height: 129px;
  width: 100%;
  float: left;
  background: #145a8b;
}
.number-bk-content-header
{
  font-size: 73pt;
  font-weight: bolder;
  color: white;
  width: 100%;
  height: 100px;
  line-height: 87px;

}
.item-noline-number
{
  width: 20%;
  float: left;
  height: 100px;
}
.item-line-number
{
  width: 60%;
  float: left;
  height: 100px;
}
.item-no
{
  float: left;
  width: 20%;
  height: 100px;
  border-bottom: 1px solid #145a8b;
}
.item-nnumber
{
  float: left;
  width: 60%;
  height: 100px;
  border-bottom:2px solid #36c0de
}
.text-burgerprofile
{

  height: 55px;
  line-height: 25px;
  font-size: 25pt !important;
}
.bur-text-bk-content-header
{
  width: 58%;
  color: #fccf0f;
  font-size: 20pt;
  font-weight: bold;
  height: 43px;
  line-height: 32px;
  text-align: right;
  padding-top: 10px;
  float: left;
}
.downburgerprofile
{
  height: 20px !important;
  width: 39% !important;
}
.item-menu-top-header-bur
{

  float: left;
  height: 42px;
  background-color: #fccf0f;
  line-height: 47px;
  width: 220px;
  border-radius: 6px;
}
.item-menu-top-header-bur a,.item-menu-top-header-bur a:hover,.item-menu-top-header-bur a:visited,.item-menu-top-header-bur a:active
{


  padding-left: 30px;
  background-color: #fccf0f;
  border-radius: 6px;
  color: #145a8b;
  text-decoration: none;
}
.bur-review{
  background-image: image_url("22.png") ;
  width: 151px;
  height: 24px;
  background-repeat: no-repeat;
  line-height: 24px;
  background-position: left center;
  color: #145a8b;
  font-size: 14pt;
}

.bur-addtolist
{
  background-image: image_url("21.png") ;
  width: 151px;
  height: 24px;
  background-repeat: no-repeat;
  line-height: 24px;
  background-position: left center;
  color: #145a8b;
  font-size: 14pt;
}
.bur-share
{
  background-image: image_url("20.png") ;
  width: 151px;
  height: 24px;
  background-repeat: no-repeat;
  line-height: 24px;
  background-position: left center;
  color: #145a8b;
  font-size: 14pt;
}
.no-line-bur
{
  float: left;
  height: 50px;
  width: 10px;
}
.full-noline-bur
{
  float: left;
  width: 100%;
  height: 10px;
}
.cslider
{
  width: 100%;
  height: 400px;
}
.details-bur-profile
{
  width: 100%;
  float: left;
  padding-top: 20px;
  padding-bottom: 30px;
}
.detaisl-noline
{
  float: left;
  width: 20%;
  height: 50px;
  border-bottom: 1px solid #d8d8d8;
}
.detaisl-item-titl
{
  width: 60%;
  float: left;
  height: 50px;
  line-height: 50px;
  color: #145a8b;
  font-size: 26pt;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 2px solid #36c0de;
}
.content-deatisl-title
{
  width: 100%;
  float: left;
}
.text-dataisl-item
{
  width: 40%;
  float: left;
  text-align: left;
  color: #87898b;
  font-size:19pt;


}
.price-dataisl-item
{
  width: 60%;
  float: left;
  text-align: right;
  color: #87898b;
  font-size:19pt;


  white-space: pre-wrap;;
}
.line-none
{
  width: 100%;
  height: 20px;
  border-bottom: 1px solid #b2b2b2;
}
.content-reviews
{
  width: 100%;
  float: left;
}
.item-avarta
{
  width: 10%;
  float: left;
  text-align: right;
}
.item-text-reviews
{
  width: 60%;
  float: left;
  padding-left: 10px;
  height: 100px;
  line-height: 100px;
}
.item-name-reviews,.item-number-reviews
{
  width: 100%;
  float: left;
  color: #36c0de;

}
.item-name-reviews
{
  font-size: 13pt;
  height: 30px;
  line-height: 30px;
}
.item-number-reviews
{
  font-size: 35pt;
  height: 44px;
  line-height: 44px
}
.item-clock
{
  background-image:image_url("clock.png") ;
  background-repeat: no-repeat;
  background-position: left center;

  height: 100px;
  line-height: 100px;
  float: left;
  color: #c6ccd2;
  padding-left: 22px;
}
.item-reviews-bur
{
  width: 100%;
  float: left;
  border-bottom: 1px solid #d8d8d8;
  height: 100px;
  line-height: 100px;
}
.buttom-loadmore
{
  float: right;
  text-align: center;
  width: 60%;
  padding-top: 37px;
}
.text-loadmore
{
  width: 200px;
  height: 50px;
  background: #fccf0f;
  line-height: 50px;
  color: #145a8b;
  font-size: 13pt;
  font-weight: bold;
  border-radius: 6px;
}
.item-text-reviews-mutile
{
  float: left;
  color: #a6a8aa;
  line-height: 20px;
  font-size: 12pt;
  padding-left: 10px;
}
.item-text-reviews-comment
{
  width: 89%;
  float: left;
}
.item-name-reviews-comment
{
  width: 80%;
  float:left;
  font-size: 13pt;
  height: 30px;
  line-height: 30px;
  color: #36c0de;
  padding-left: 10px;
}
.item-clock-comment
{
  background-image:image_url("clock.png") ;
  background-repeat: no-repeat;
  background-position: left center;
  width: 20%;
  height: 30px;
  line-height: 30px;
  float: left;
  color: #c6ccd2;
  padding-left: 22px;
}
.item-reviews-bur-comennt
{
  width: 100%;
  float: left;
  border-bottom: 1px solid #d8d8d8;
  height: 120px;
  line-height: 74px;

}
.like-noactive
{
  line-height: 25px;
  float: left;
  padding-left: 20px;
  background-image:image_url("no-heart.png") ;
  background-position:left center;
  background-repeat: no-repeat;
  color: #145a8b;
  font-size: 11pt;
  width: 50%;
  cursor: pointer;
}
.like-active
{
  line-height: 25px;
  float: left;
  padding-left: 20px;
  background-image:image_url("heat.png") ;
  background-position:left center;
  background-repeat: no-repeat;
  color: #145a8b;
  font-size: 11pt;
  width: 50%;
}
.next-comment
{
  width: 50%;
  float: left;
  line-height: 25px;
  text-align: right;
  background-image:image_url("dot.png") ;
  background-position:right center;
  background-repeat: no-repeat;
  height: 25px;
}
.headerburger
{
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;

  z-index: 999;
}
.header-bottom-bur
{
  position: absolute;
  top: 81.2%;
  opacity: 0.8;
}
.headermain
{
  position: relative;
}
.item-text-bottom
{
  width: 50%;
  float: left;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  padding-top: 5%;
  font-size: 12pt;

}
.item-number-bottom
{
  width: 50%;
  float: left;
  text-align: center;
  color: #36c0de;
  font-size: 19pt;
  font-weight: bold;
  padding-top: 10px;
}
.container-menu-add
{
  margin-left: auto;

  margin-right: auto;
  display: table;
}
.item-content-details
{
  height: auto;
  line-height: 50px;
  min-height: 50px;
  border-bottom: 1px solid #d8d8d8;
  width: 100%;
  float: left;
}