// Place all the styles related to the homelogin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.page-header
{
  margin:0 !important;
  border-bottom: none !important;
}
.bk-header
{

  background-image: image-url("homelogin_d_bk.png");
  height:452px;
  z-index: -1;
}
.bk-top-header
{
  background-image: image-url("home-login-top.png");
  height: 113px;
}
.logo-header
{
  background-image: image-url("homelogin-logo-d.png");
  height: 77px;
  width: 30%;
  margin-top:17px;
  float: left;
  background-repeat: no-repeat;
}
.home-login-poniter
{
  float: left;
  background-image: image-url("home-login-point.png");
  width: 8%;
  height: 32px;
  margin-top: 40px;
  background-repeat: no-repeat;
}
.search-home
{
  float: left;
  width:38%;
  margin-top: 40px;
  position: relative;
}
.search-home input[type="text"]
{
  border :2px solid #36c0de;
  width: 66%;
  border-radius: 6px;
  height: 50px;
  background: #145a8b;

  background-color: #145a8b;

  color: #ffffff;
}
.button-search-submit
{
  position: absolute;
  background-image: image-url("07.png");
  border: none;
  background-color: transparent;
  background-repeat:no-repeat;
  background-position: right;
  top: 13px;
  right: 128px;
  content: "";
  width: 22px;
  height: 22px;
}
.button-review
{
  float: left;
  margin-top: 40px;
  padding-left: 60px;
}
.button-review input
{
  font-weight: bold;
  border: none;
  background: #fccf0f;
  border-radius:8px ;
  width: 80px;
  color: #145a8b;
  height: 40px;
  line-height: 40px;
}
.button-profile
{
  float: left;
  margin-top: 40px;

  padding-left: 49px;
}
.button-profile img
{
  width: 40px;
}
.navbar-header
{
  width: 100%;
}
@media (min-width: 1200px) {
  .container {
    width: 990px !important;
  }
}
.menu-top-header
{
  clear: left;
}
.item-menu-top-header
{
  float: left;
  width: 170px;
  height:55px;
  line-height: 55px;
  text-transform: uppercase;
  font-size: 13pt;
  background-image: image-url("05.png");
  background-position: right;
  background-repeat: no-repeat;
}
.item-menu-top-header a
{
  color: #145a8b;
  font-weight: bold;
}
.item-menu-top-header a:hover
{
  color: #145a8b !important;
  font-weight: bold !important;
  background: #fccf0f !important;
  text-decoration: none !important;

}
.item-menu-top-header:hover
{
  background: #fccf0f;
  background-image: image-url("06.png");
  background-position: right;
  background-repeat: no-repeat;
}
.item-menu-top-header:last-child
{
  width: 225px;
}
.menu-top-header
{
  border-bottom: 1px solid #ccc;
  text-align: center;
}
.content-product
{
  width: 100%;
  float: left;
}
.title-header
{
  text-align: center;
  text-transform: uppercase;
  color: #b2b5b7;
  font-weight: bold;
  font-size: 14pt;
  padding-top: 20px;
}
.count-number-text
{
  font-weight: bold;
  color: #145a8b;
  font-size: 25pt;
  text-align: center;
  text-transform: uppercase;
  height: 60px;
  line-height: 60px;
}
.no-line-header
{
  width: 100%;
}
.line-no
{
  float: left;
  width: 25%;
  border-bottom: 1px solid #b2b2b2;
  height: 59px;
}
.count-number-text
{
  float: left;
  width: 50%;
  border-bottom: 3px solid #36c0de;
  height: 60px;
}
.conettn-body
{
  width: 100%;
  float: left;
  padding-top: 40px;
}
.content-body-item:first-child
{
  padding-top: 0px;
}
.content-body-item
{
  padding-top: 20px;
  width: 100%;
  float: left;
}
.item-conettn-body
{
  width: 100%;
  float: left;
  border: 1px solid #dee8ef;
  background: #fff;
  border-radius: 10px;

}
.item-img
{

  width: 27.9%;
  float: left;
}
.item-body
{
  width: 72.1%;
  float: left;
}
.item-reviews
{
  float: left;
  width: 100%;
  height: 90px;
}
.number-reviews
{
  width: 32%;
  float: left;
  color: #36c0de;
  font-weight: normal;
  font-size: 58px;
  height: 82px;
  line-height: 66px;
  padding-left: 15px;
  padding-top: 15px;
  border-bottom: 3px solid #36C0DE;
}
.user-reviews
{
  width: 68%;
  float: left;

  padding-top: 7px;
  border-bottom: 1px solid #ccc;
}
.title-reviews
{
  text-transform: uppercase;
  color: #c9caca;
  font-weight: bold;
}
.item-img-user
{
  float: left;
  padding-left: 5px;
}
.item-img-user:first-child
{
  padding-left: 0px;
}
.item-number-count
{
  float: left;

  line-height: 55px;
  color: #68d0e6;
  font-weight: bold;
  font-size: 15px;
}
.item-add
{
  float: right;
  padding-right: 10px;
  margin-top:-20px;
  cursor: pointer;
}
.title-product-reviews
{
  float: left;
  width: 100%;
  padding-left: 15px;

}
.title-product-reviews a:hover
{
  text-decoration: none;
}
.name-title-product-review
{
  color: #87898b;
  font-weight: bold;
  font-size: 20pt;
  height: 25px;
  line-height: 25px;
}
.name-title-product-review-child
{
  color: #b7b8b9;
  padding-top: 15px;
  font-weight: bold;
  font-size: 12pt;
}
.user-review-toolbal
{
  float: left;
  width: 100%;
  padding-top: 17px;
}
.content-body-share
{
  background: #fccf0f;
  border-bottom-right-radius: 9px;
  height: 53px;
}
.content-body-share
{
  background: #fccf0f;
  height: 53px;
}
.text-review
{
  float: left;
  width: 50%;
  line-height: 53px;
  text-align: center;
  color: #145a8b;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13pt;
  border-right: 1px solid #ccc;
}
.text-review-share
{
  float: left;
  width: 50%;
  line-height: 53px;
  text-align: center;
  color: #145a8b;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13pt;
}
.show_puopt_reviews
{
  float: left;
  border: 2px solid #e0e9f0;
  border-radius: 5px;
}
.text-item-show-yellow
{
  height: 40px;
  line-height: 30px;
  color: #fccf0f;
  padding: 10px;
  padding-top: 5px;
}
.text-item-show-yellow:hover
{
  color: #ffffff;
  background:#fccf0f ;
  cursor: pointer;
}
.text-item-show-greeen
{
  height: 40px;
  line-height: 30px;
  color: #27ae60;
  padding: 10px;
  padding-top: 5px;
}
.text-item-show-greeen:hover
{
  color: #ffffff;
  background:#27ae60 ;
  cursor:pointer;
}
.text-item-show-tim
{
  height: 40px;
  line-height: 30px;
  color: #9b59b6;
  padding: 10px;
  padding-top: 5px;

}
.text-item-show-tim:hover
{
  color: #ffffff;
  background:#9b59b6 ;
  cursor: pointer;
}
.show_puopt_reviews
{

  float: left;
}
.item-show
{
  text-align: center;
}
.popover-content
{
  padding: 0px !important;
}
.active-y
{
  color: #ffffff;
  background:#fccf0f ;
  cursor: pointer;
}
.active-g
{
  color: #ffffff;
  background:#27ae60 ;
  cursor:pointer;
}
.active-t
{
  color: #ffffff;
  background:#9b59b6 ;
  cursor: pointer;
}
.bk-content-header
{
  text-align: center;
  width: 100%;
  padding-top: 7%;
}
.text-bk-content-header
{
  color: #ffffff;
  width: 100%;
  float: left;
  text-align: center;
  font-weight: bold;
  font-size: 18pt;
  padding-top: 27px;
}
.img-text-bk-content-header
{
  background-image: image_url("09.png");
  background-repeat: no-repeat;
  background-position: left bottom;
  float: left;
  width: 42%;
  height: 30px;

  line-height: 30px;
  margin-top: 13px;
  margin-left: 10px;
}
.icon-images-review
{
  background-image: image_url("reviews.png");



  height: 53px;
  width: 50%;

  background-position: right;
  float: left;
  background-repeat: no-repeat;
  line-height: 53px;
}
.tim-hover
{
  opacity: 0.6;
  filter: alpha(opacity=60);
  background-image:image_url("10.png");
  width: 99.5%;
  float: left;
  height: 100%;
  position: absolute;
  background-color: #9b59b6;
  background-repeat: no-repeat;
  text-align: center;
  left: 0px;
  top: 0px;
  background-position: center;
  border-radius: 10px;
  border-top-right-radius-radius: 0px;
  border-bottom-right-radius-right-radius-radius: 0px;
}
/*

/* iPads (portrait) ----------- */

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
  .item-img {
    width: 37%;
    float: left;
  }
  #btnlogout
  {
    top:14px;
  }
  .container > .navbar-header {
    margin-right: 0px !important;
    margin-left: 0px !important;
  }
  .item-body {
    width: 63%;
    float: left;
  }
  .user-reviews
  {
    padding-left: 36px;
  }
  .number-reviews {
    width: 32%;
    float: left;
    color: #36c0de;
    font-weight: bold;
    font-size: 44px;
    height: 77px;
    line-height: 66px;
    padding-left: 15px;
    padding-top: 15px;
    border-bottom: 3px solid #36C0DE;
  }
  .item-add {
    padding-right: 0px;
  }
  .img-text-bk-content-header {
    width: 30%;
  }
  .logo-header {
    width: 27%;
    background-image: image_url("homelogin-logo_768.png");
    height: 48px;
    margin-top: 5px;
  }
  .button-review {
    padding-left: 30px;
  }
  .item-menu-top-header {
    width: 157px;
  }
  .name-title-product-review {
    font-size: 18pt;
    text-decoration: none;
  }
  .name-title-product-review:hover
  {
    text-decoration: none;
  }
  .item-number-count {
    height: 49px;
  }
  .bk-header {
    background-image: image_url("homelogin_d_bk_1024.png");
    height: 321px;
    z-index: -1;
  }
  .bk-top-header {
    background-image: image_url("home-login-top_768.png");
    height: 58px;
  }

  .home-login-poniter {
    margin-top: 14px;
  }
  .search-home {
    margin-top: 4px;
  }
  .button-review {
    margin-top: 10px;
  }
  .button-profile {
    margin-top: 10px;
    padding-left: 20px;
  }
  .bk-content-header {
    padding-top: 4%;
  }
  .text-bk-content-header {
    padding-top: 19px;
  }
  .img-text-bk-content-header {
    margin-top: 6px;
  }

  .content-body-share
  {
    height: 53px;
    line-height: 53px;
  }
  .text-review-share
  {
    line-height: 53px;
  }
  .text-review
  {
    line-height: 53px;
  }
  .button-search-submit
  {
    right: 100px;
  }

}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
  .item-img {
    width: 28.5%;
    float: left;
  }
  #btnlogout
  {
    top:14px;
  }
  .user-reviews
  {
    padding-left: 36px;
  }
  .container > .navbar-header {
    margin-right: 0px !important;
    margin-left: 0px !important;
  }
  .item-body {
    width: 71.5%;
    float: left;
  }
  .number-reviews {
    width: 32%;
    float: left;
    color: #36c0de;
    font-weight: bold;
    font-size: 44px;
    height: 83px;
    line-height: 66px;
    padding-left: 15px;
    padding-top: 15px;
    border-bottom: 3px solid #36C0DE;
  }
  .item-add {
    padding-right: 0px;
  }
  .img-text-bk-content-header {
    width: 30%;
  }
  .logo-header {
    width: 27%;
    background-image: image_url("homelogin-logo_768.png");
    height: 48px;
    margin-top: 5px;
  }
  .button-review {
    padding-left: 30px;
  }
  .item-menu-top-header {
    width: 157px;
  }
  .name-title-product-review {
    font-size: 18pt;
  }
  .item-number-count {
    height: 55px;

  }
  .bk-header {
    background-image: image_url("homelogin_d_bk_1024.png");
    height: 321px;
    z-index: -1;
  }
  .bk-top-header {
    background-image: image_url("home-login-top_768.png");
    height: 58px;
  }

  .home-login-poniter {
    margin-top: 14px;
  }
  .search-home {
    margin-top: 4px;
  }
  .button-review {
    margin-top: 10px;
  }
  .button-search-submit
  {
    right: 100px;
  }
  .button-profile {
    margin-top: 10px;
    padding-left: 20px;
  }
  .bk-content-header {
    padding-top: 4%;
  }
  .text-bk-content-header {
    padding-top: 19px;
  }
  .img-text-bk-content-header {
    margin-top: 6px;
  }

  .content-body-share
  {
    height: 53px;
    line-height: 53px;
  }
  .text-review-share
  {
    line-height: 53px;
  }
  .text-review
  {
    line-height: 53px;
  }
}
@media only screen
and (min-device-width : 600px)
and (max-device-width : 767px)
and (orientation : portrait) {
  .button-profile
  {
    padding-left: 18px;

  }
  .button-review
  {
    padding-left: 33px;
  }
  .text-bk-content-header
  {
    width: 56%;
  }
  .number-reviews
  {
    font-size:44pt;
    line-height: 48px;
  }
  .user-reviews
  {
    padding-top: 3px;
  }
  .title-product-reviews
  {
    padding-top: 0px;
  }
  .name-title-product-review-child
  {
    padding-top: 10px;
  }
  .user-review-toolbal
  {
    padding-top: 6px;
  }
  .content-body-share
  {
    height: 40px;
  }
  .text-review
  {
    line-height: 40px;
  }
  .text-review-share
  {
    line-height: 40px;
  }
  .item-reviews
  {
    height: 83px;
  }
  .item-menu-top-header
  {
    width: 164px;
  }
  .item-number-count
  {
    line-height: 58px;
  }
}


//mobile
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px)
and (orientation : portrait) {
  .m-logo-header {
    background-image: image_url("m_02.png");
    height: 77px;
    width: 26%;
    margin-top: 17px;
    float: left;
    background-repeat: no-repeat;
  }
  .m-search-home input {
    background-image: image_url("07.png");

    background-repeat: no-repeat;
    background-position: center;
    background-color: #145a8b;
    border: none;
    width: 22px;
    height: 22px;
    line-height: 22px;
  }
  .m-search-home {
    float: left;
    width: 19%;
    margin-top: 48px;
    padding-left: 18px;
  }
  .m-content-body-item {
    width: 100%;
    background: #ffffff;
    float: left;
    padding-bottom: 20px;
  }

  .button-review
  {
    padding-left: 106px;
  }
  .button-profile
  {
    padding-left: 170px;
  }


  .count-number-text
  {
    line-height: 45px;
    font-size: 13pt;
    height:45px;
  }
  .line-no
  {
    height: 44px;
  }
  .item-body
  {
    width: 100%;
  }
  .number-reviews
  {
   /* width: 71%;
    font-weight: normal;
    font-size: 57px;
    height: 81px;
    line-height: 55px;*/

      position: absolute;
      top: 1;
      bottom: 0px;
      color: white;
      z-index: 10000;
    font-weight:bold;

  }
  .user-reviews
  {
    width: 20%;
    border-bottom: none;
  }
  .item-number-count
  {
    line-height: 54px;
  font-size: 24pt;
  }
  .item-reviews
  {
    height: 70px;
  }
  .name-title-product-review
  {
    font-size: 24pt;
    height: 47px;
    line-height: 39px;
  }
  .name-title-product-review-child
  {
    padding-top: 5px;

    font-size: 21pt;
  }
  .item-add
  {
    background: #fff;
    position: absolute;

    right: 24px;
    bottom: 57px;
    width: 50px;
    height: 50px;
    border-radius: 22px;

    padding-top: 10px;
    padding-left: 10px;
  }
  .item-body
  {
    position: relative;
  }
  .m-item-img img
  {
    width: 100%;
    border-radius: 20px;
  }
  .text-bk-content-header
  {
    width: 100%;
    float: right;
  }
  .item-menu-top-header:last-child
  {
    font-size: 17pt;
  }
  .count-number-text
  {
    font-size: 20pt;
  }
  .title-reviews
  {
    font-size: 17pt;
  }
  .title-product-reviews
  {
    width: 80%;
  }
}
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px)
and (orientation : landscape) {
  .m-logo-header {
    background-image: image_url("m_02.png");
    height: 77px;
    width: 29%;
    margin-top: 17px;
    float: left;
    background-repeat: no-repeat;
  }
  .m-search-home input {
    background-image: image_url("07.png");

    background-repeat: no-repeat;
    background-position: center;
    background-color: #145a8b;
    border: none;
    width: 22px;
    height: 22px;
    line-height: 22px;
  }
  .m-search-home {
    float: left;
    width: 18%;
    margin-top: 48px;
    padding-left: 18px;
  }
  .m-content-body-item {
    width: 100%;
    background: #ffffff;
    float: left;
    padding-bottom: 20px;
  }

  .button-review
  {
    padding-left: 95px;
  }
  .button-profile
  {
    padding-left: 95px;
  }


  .count-number-text
  {
    line-height: 45px;
    font-size: 13pt;
    height:45px;
  }
  .line-no
  {
    height: 44px;
  }
  .item-body
  {
    width: 100%;
  }
  .number-reviews
  {
   /* width: 71%;
    font-weight: normal;
    font-size: 57px;
    height: 81px;
    line-height: 55px;*/
    position: absolute;
    top: 1;
    bottom: 0px;
    color: white;
    z-index: 10000;
    font-weight:bold;
  }
  .user-reviews
  {
    width: 20%;
    font-size: 13pt;
    border-bottom: none;

  }
  .title-product-reviews
  {
    width: 80%;
  }
  .item-number-count
  {
    line-height: 32px;

  }
  .item-reviews
  {
    height: 81px;
  }
  .name-title-product-review
  {
    font-size: 24pt;
    height: 47px;
    line-height: 39px;
  }
  .name-title-product-review-child
  {
    padding-top: 5px;

    font-size: 21pt;
  }
  .item-add
  {
    background: #fff;
    position: absolute;

    right: 24px;
    bottom: 57px;
    width: 50px;
    height: 50px;
    border-radius: 22px;

    padding-top: 10px;
    padding-left: 10px;
  }
  .item-body
  {
    position: relative;
  }
  .m-item-img img
  {
    width: 100%;
    border-radius: 20px;
  }
  .text-bk-content-header
  {
    width: 100%;
  }
  .item-menu-top-header:last-child
  {
    font-size: 17pt;
  }
  .count-number-text
  {
    font-size: 20pt;
  }
}
@media only screen and (min-device-width:481px)
and (max-device-width:736px)
and (orientation : landscape)
{
  .m-logo-header {
    background-image: image_url("m_02.png");
    height: 77px;
    width: 26%;
    margin-top: 17px;
    float: left;
    background-repeat: no-repeat;
  }
  .m-search-home input {
    background-image: image_url("07.png");

    background-repeat: no-repeat;
    background-position: center;
    background-color: #145a8b;
    border: none;
    width: 22px;
    height: 22px;
    line-height: 22px;
  }
  .m-search-home {
    float: left;
    width: 19%;
    margin-top: 48px;
    padding-left: 18px;
  }
  .m-content-body-item {
    width: 100%;
    background: #ffffff;
    float: left;
    padding-bottom: 20px;
  }

  .button-review
  {
    padding-left: 106px;
  }
  .button-profile
  {
    padding-left: 170px;
  }


  .count-number-text
  {
    line-height: 45px;
    font-size: 13pt;
    height:45px;
  }
  .line-no
  {
    height: 44px;
  }
  .item-body
  {
    width: 100%;
  }
  .number-reviews
  {
    width: 71%;
    font-weight: normal;
    font-size: 57px;
    height: 81px;
    line-height: 55px;
  }
  .user-reviews
  {
    width: 23%;
  }
  .item-number-count
  {
    line-height: 54px;
    font-size: 24pt;
  }
  .item-reviews
  {
    height: 70px;
  }
  .name-title-product-review
  {
    font-size: 24pt;
    height: 47px;
    line-height: 39px;
  }
  .name-title-product-review-child
  {
    padding-top: 5px;

    font-size: 21pt;
  }
  .item-add
  {
    background: #fff;
    position: absolute;

    right: 24px;
    bottom: 57px;
    width: 50px;
    height: 50px;
    border-radius: 22px;

    padding-top: 10px;
    padding-left: 10px;
  }
  .item-body
  {
    position: relative;
  }
  .m-item-img img
  {
    width: 100%;
    border-radius: 20px;
  }
  .text-bk-content-header
  {
    width: 56%;
  }
  .item-menu-top-header:last-child
  {
    font-size: 17pt;
  }
  .count-number-text
  {
    font-size: 20pt;
  }
  .title-reviews
  {
    font-size: 17pt;
  }
}


@media only screen and (min-width:338px)
and (max-width:338px)
and (orientation : portrait) {
  .m-logo-header {
    background-image: image_url("m_02.png");
    height: 77px;
    width: 26%;
    margin-top: 17px;
    float: left;
    background-repeat: no-repeat;
  }
  .m-search-home input {
    background-image: image_url("07.png");

    background-repeat: no-repeat;
    background-position: center;
    background-color: #145a8b;
    border: none;
    width: 22px;
    height: 22px;
    line-height: 22px;
  }
  .m-search-home
  {
    width: 13%;
    float: left;
    margin-top: 40px;
  }
  .bk-content-header
  {
    padding-top: 32%;
  }
  .bk-top-header
  {
    height: 97px;
  }
  .number-reviews
  {
    /* width: 71%;
     font-weight: normal;
     font-size: 57px;
     height: 81px;
     line-height: 55px;*/

    position: absolute;
    top: 1;
    bottom: 0px;
    color: white;
    z-index: 10000;
    font-weight:bold;
    font-size: 22pt;
    width: auto;
    height: 72px;
    line-height: 72px;
    padding-left: 5px;

  }
  .item-number-count
  {
    line-height: 20px;
  }
  .item-body
  {
    width: 100%;
  }
  .title-product-reviews
  {
    width: 80%;
    padding-left: 0px;
    padding-top: 10px;
  }
  .user-reviews
  {
    width: 20%;
    border-bottom: none;
  }
  .button-review
  {
    padding-left: 30px;
    margin-top: 30px;
  }
  .button-profile
  {
    padding-left: 18px;
    margin-top: 30px;
  }
  .line-no
  {
    width: 10%;
  }
  .count-number-text
  {
    width: 80%;
  }
  .item-menu-top-header
  {
    width: 100px;
  }
  .fiter-line
  {
    width: 12px !important;
  }
  .name-title-product-review
  {
    font-size: 15pt;
    height: 11px;
    line-height: 11px;
  }
  .name-title-product-review-child
  {
    font-size: 10pt;
    padding-top: 7px;
  }
  .title-reviews
  {
    font-size: 8pt;
  }
  .item-number-count
  {
    font-size: 11pt;
  }
  .check-active-select
  {
    padding-top: 11px;
    height: 30px !important;
  }
  .item-menu-top-header-filter
  {
    width: 60%;
  }
}
@media only screen and (min-width:563px)
and (max-width:563px)
and (orientation : landscape) {
  .check-active-select
  {
    padding-top: 11px;
    height: 30px !important;
  }
  .m-logo-header {
    background-image: image_url("m_02.png");
    height: 77px;
    width: 26%;
    margin-top: 17px;
    float: left;
    background-repeat: no-repeat;
  }
  .m-search-home input {
    background-image: image_url("07.png");

    background-repeat: no-repeat;
    background-position: center;
    background-color: #145a8b;
    border: none;
    width: 22px;
    height: 22px;
    line-height: 22px;
  }
  .m-search-home
  {
    width: 13%;
    float: left;
    margin-top: 40px;
  }
  .bk-content-header
  {
    padding-top: 20%;
  }
  .number-reviews
  {
    /* width: 71%;
     font-weight: normal;
     font-size: 57px;
     height: 81px;
     line-height: 55px;*/

    position: absolute;
    top: 1;
    bottom: 0px;
    color: white;
    z-index: 10000;
    font-weight:bold;

  }
  .item-body
  {
    width: 100%;
  }
  .title-product-reviews
  {
    width: 80%;
    padding-left: 0px;
  }
  .user-reviews
  {
    width: 20%;
    border-bottom: none;
  }
}
.style_select
{
  background: transparent;
  border: none;

}
.style_select select
{
  border: none;
  box-shadow: none;
  background-color: transparent;
  background-image: image_url("09.png");
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-repeat: no-repeat;
  background-position: right center;

}
.style_select select:focus {
  outline: none;

}
.cl
{
  clear: both;
}
.menu-filter
{
  background: #36c0de;
}
.container-menu-filter
{
  width: 100%;
  float: left;

}
.container-item
{
  width: 25%;
  float: left;

}
.menu-text-file
{
  color: #145a8b;
  font-weight: bold;
  font-size: 11pt;
  padding: 10px;
}
.item-nemu-text
{
  color: white;
  padding: 10px;
  font-size: 11pt;
  cursor: pointer;
}
.item-menu-top-header-filter
{
  float: left;
}
.cls-input-auto
{
  float: left;
  width: auto;
  padding-left: 15px;
  padding-right: 15px;
  background: #36c0de;
  height: 27px;
  line-height: 24px;
  border-radius: 7px;

}
.item-nnnn
{
  width: auto;
  float: left;

  margin-top: 13px;
  margin-left: 14px;
}
.text-select-item
{
  float: left;
  width: 95%;
  color: white;
}
.cls-close-menu
{
  float: left;
  width: 5%;
  color: #145a8b;
  cursor: pointer;
  font-size: 12pt;
  padding-right: 2px;
}
.number-sub
{
  font-size: 11pt;
  color: #ccc;
  font-weight: normal;
}
.glyphicon-refresh-animate {
  -animation: spin .7s infinite linear;
  -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
  from { -webkit-transform: rotate(0deg);}
  to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
  from {
    transform: scale(1) rotate(0deg);

  }
  to {
    transform: scale(1) rotate(360deg);
  }
}
.check-active-select
{
  background-image: image-url("check-active.png");
  background-position: left;
  background-repeat: no-repeat;
  width:14px ;
  height: 14px;
  padding-left: 22px;
  line-height: 13px;
  color: white;
}
.m-item-conettn-body
{
  position: relative;
}
//lumina 530
@media only screen and (min-width:357px)
and (max-width:357px)
and (orientation : portrait) {
  .m-logo-header {
    background-image: image_url("m_02.png");
    height: 77px;
    width: 26%;
    margin-top: 17px;
    float: left;
    background-repeat: no-repeat;
  }
  .m-search-home input {
    background-image: image_url("07.png");

    background-repeat: no-repeat;
    background-position: center;
    background-color: #145a8b;
    border: none;
    width: 22px;
    height: 22px;
    line-height: 22px;
  }
  .m-search-home
  {
    width: 11%;
    float: left;
    margin-top: 40px;
  }
  .button-profile,.button-review
  {
    padding-left: 30px;
    margin-top: 30px;
  }
  .bk-content-header
  {
    padding-top: 27%;
  }
  .line-no
  {
    width: 10%;
  }
  .count-number-text
  {
    width: 80%;
  }
  .number-reviews
  {
    /* width: 71%;
     font-weight: normal;
     font-size: 57px;
     height: 81px;
     line-height: 55px;*/

    position: absolute;
    top: 1;
    bottom: 0px;
    color: white;
    z-index: 10000;
    font-weight:bold;

  }
  .title-product-reviews
  {
    padding-left: 0px;
    width: 80%;
  }
  .item-body
  {
    width: 100%;
    float: left;
  }
  .user-reviews
  {
    width: 20%;
    border-bottom: none;
  }
  .item-number-count
  {
    line-height: 32px;

  }
}
@media only screen and (min-width:595px)
and (max-width:595px)
and (orientation : landscape) {

}