$width-txt-control: 500px;

@media (max-width: 991px) {
  .step-container-fluid{
    margin-left: 0px;
    margin-right: 0px;
  }

  .step-container{
    margin-left: 0px;
    margin-right: 0px;
  }

  input.txt-control, div.rate-control{
    width: 415px;
  }

  textarea#txt-textarea-comment{
    width: 410px;
  }

  .inputWrapper{
    display: none;
  }
}

@media (max-width: 768px) {

  .step-container-fluid{
    padding-left: 0px;
    padding-right: 0px;
  }

  .step-container{
    padding-left: 0px;
  }

  .text-title{
    font-size: 20px !important;
  }
  .text-details{
    font-size: 15px;
  }
  .step-left{
    padding: 0px;
  }
}

@media (max-width: 738px) {
  .step-right{
    padding-left: 5px;
    padding-right: 0px;
  }
}

@media (max-width: 715px) {
  input.txt-control, div.rate-control{
    width: 375px;
  }

  textarea#txt-textarea-comment {
    width: 354px;
  }
}

@media (max-width: 655px) {
  input.txt-control, div.rate-control{
    width: 320px;
  }

  textarea#txt-textarea-comment {
    width: 295px;
  }
}

@media (max-width: 575px) {
  .text-title {
    font-size: 13px !important;
  }

  .text-details {
    font-size: 11px;
  }

  div.step-right {
    padding-left: 12px !important;
  }
}

@media (max-width: 548px) {
  input.txt-control, div.rate-control {
    width: 290px;
  }

  textarea#txt-textarea-comment {
    width: 265px;
  }
}

@media (max-width: 505px) {
  input.txt-control, div.rate-control {
    width: 250px;
  }

  textarea#txt-textarea-comment {
    width: 225px;
  }
}

@media (max-width: 446px) {

  .step-container-fluid{
    padding: 0px !important;
  }

  div#step-1-left {
    width: 20%;
  }

  div#step-1-right {
    width: 80%;
  }

  div#step-2-container-fluid{
    background-color: #ffffff;
  }

  div#step-2-right{
    margin: 0px !important;
  }

  div#step-1-left{
    height: 122px !important;
//    border: 1px solid red;
  }

  div.step-right{
    padding: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin: 0px !important;
//    border: 1px solid red;
    background-color: #E1E6EA;
  }

  #step-1-left .text-title, .text-details{
    display: none;
  }

  .form-group-mobile{
    margin-bottom: 0px !important;
  }

  .form-group-mobile-top{
    border-bottom: 2px solid #B2B2B2 !important;
  }

  input.txt-control{
    border: 0px;
    background-color: #E1E6EA;
    border-radius: 0px;
    width: 90%;
  }

  div#step-2-container{
    padding-bottom: 0px;
  }

  div#step-2-left {
    display: none;
  }

  div#step-2-left-mobile{
    display: inline-block;
  }

  span#image-text-step-2-mobile{
    font-size: 20px;
    color: #145B8C;
    padding-top: 20px;
    padding-left: 20px;
    font-weight: bolder;
  }

  #total-number-mobile{
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    height: 100%;
    display: block;
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
  }


  #total-rate{
    display: none;
  }

  div#step-2-right{
    width: 100%;
    background-color: #ffffff;
  }

  .form-group-rate-mobile{
    margin-bottom: 1px;
  }

  div.rate-control{
    border: none;
    border-radius: 0px;
    width: 100%;
  }

  .rate-control .rate-number:first-child{
    border-radius: 0px !important;
  }

  div.rate-result{
    border-radius: 0px;
  }

//  .txt-control-mobile-top{
//    border-bottom: 1px solid #B2B2B2 !important;
//  }
//
//  .txt-control-mobile-bottom{
//    border-top: 1px solid #B2B2B2 !important;
//  }

  #step-3-container{
    background-color: #ffffff;
    padding: 0px;
  }

  #step-3-left{
    display: none;
  }

  #step-3-left-mobile{
    display: block !important;
  }

  #step-3-right{
    width: 100%;
  }

  div#form-group-comment{
    margin: 0px !important;
  }

  textarea#txt-textarea-comment{
    width: 100%;
    border: none;
    border-radius: 0px;
//    height: 100%;
  }

}


#layer-review{
  display: none;
  width: 100%;
  height: 100%;
  z-index: 2;
  position: absolute;
  top: 0px;
  left: 0;
  background-color: rgb(66, 121, 161);
  opacity: 0.8;
}

#share-dialog{
  display: none;
  position: absolute;
  top: 110px;
  width: 330px;
  min-height: 400px;
  background-color: #ffffff;
  z-index: 99;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  border-radius: 5px;
}

#btn-close-dialog{
  position: absolute;
  right: 5px;
  top: 5px;
}

#share-dialog-1{
  border-bottom: 1px solid #BABABA;
  padding-top: 15px;
  padding-bottom: 25px;
}

#share-dialog-2{
  border-bottom: 1px solid #BABABA;
}

#share-dialog-3{
  border-bottom: 1px solid #BABABA;
  padding-bottom: 20px;
}

#form-group-share{
  padding-left: 10px;
  padding-right: 10px;
}

#txt-share-friend{
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 2px solid #BEC0C4;
}


#share-dialog-4{
  padding-top: 20px;
  padding-bottom: 20px;
}

#btn-done{
  width: 180px;
  height: 40px;
  font-size: 18px;
  border-radius: 4px;
  border: transparent;
  background-color: #fccf0f;
  color: #145a8b;
}

#share-dialog .text-center{
  text-align: center;
}

.text-bold{
  color: #145A8B;
  font-weight: bold;
}

.text-normal{
  color: #A8ABAE;
}

.review-header-container{
  background-image: none !important;
  height: auto !important;
}

#review-titles{
  background-color: #36C0DD;
  margin-top: -20px;
  height: 170px;
}

#review-titles-top{
  margin-top: 45px;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

#review-titles-bottom{
  color: #13598A;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}

#step-1-container-fluid{
//  border: 1px solid red;
  border-bottom: solid 1px #B2B2B2;
  padding-top: 45px;
  padding-bottom: 45px;
}

#step-1-container{
//  border: 1px solid red;
  padding-right: 0px;
}

#step-1-left, #step-1-right{
  padding-top: 35px;
  padding-bottom: 35px;
}

#step-1-left{
  border-right: 1px solid #D2D3D5;
}

#step-1-right{
  padding-left: 30px;
}

.text-title{
  text-align: center;
  color: #13598A;
  font-weight: bold;
}

.text-details{
  text-align: center;
  color: #A7A8AA;
}

.txt-control{
//  margin-left: 30px;
  height: 60px;
  width: $width-txt-control;
  border: 2px solid #88898B;
  border-radius: 7px;
  background-color: transparent;
  color: #A9A9A9;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: bolder;
  font-size: 15px;
}

.txt-control:focus{
  outline: 0;
}

.txt-normal{
  border-color: #88898B;
}

.txt-success{
  border-color: #248B15;
}

img#step-1-image-mobile{
  display: none;
}

#step-2-container-fluid{
//  border: 1px solid red;
  border-bottom: solid 1px #B2B2B2;
  padding-top: 35px;
  padding-bottom: 45px;
}

#step-2-container{
//  border: 1px solid red;
  padding: 0px;
  padding-bottom: 35px;
}


#step-2-left{
  padding-top: 140px;
}

#step-2-left-mobile{
  display: none;
  width: 100%;
  height: 60px;
  margin-bottom: -4px;
  background-color: #ffffff;
}

#step-2-left-title-mobile{
  width: 87.5%;
  height: 60px;
  float: left;
}

#image-step-2-mobile{
//  margin-top: 6px;
  padding-top: 5px;
  width: 25%;
  height: 100%;
  display: inline-block;
  float: left;
}

#image-text-step-2-mobile{
  width: 100px;
  height: 60px;
//  background-color: red;
//  border: 1px solid red;
  float: left;
}

#box-total-number-mobile{
  width: 12.5%;
  height: 60px;
  background-color: #36C0DD;
  color: #ffffff;
  float: left;
}

#step-3-left-mobile{
  display: none;
  width: 100%;
  height: 60px;
  padding-top: 6px;
//  margin-bottom: -4px;
  background-color: #ffffff;
}

#image-step-3-mobile{
  width: 20%;
  float: left;
//  height: 60px;
  background-color: #ffffff;
}

#step-2-right{
  border-left: 1px solid #D2D3D5;
  padding-left: 30px;
}

div#total-rate{
  margin-bottom: 35px;
}

#total-title{
  text-align: center;
  color: #85898C;
  font-size: 18px;
}

#total-number{
  text-align: center;
  color: #38BFDF;
  font-weight: bold;
  margin-top: -5px;
  font-size: 50px;
}

#step-3-container-fluid{
  border-bottom: solid 1px #B2B2B2;
  padding-top: 45px;
  padding-bottom: 45px;
}

#step-3-left{
  padding-top: 20px;
}

#step-3-right{
  border-left: 1px solid #D2D3D5;
  padding-left: 30px;
  padding-top: 30px;
}

#form-group-comment{
//  border: 1px solid red;
  position: relative;
}

#txt-textarea-comment{
  width: 450px;
  height: 190px;
}

.inputWrapper {
  height: 30px;
  width: 32px;
//  overflow: hidden;
  position: absolute;
  top: 0;
  right: 100px;
//  margin-left: 20px;
  cursor:pointer;
  /*Using a background color, but you can use a background image to represent a button*/
  background: url(/assets/review/camera.png) 0px no-repeat;
}
.fileInput {
  cursor:pointer;
  height: 100%;
  position:absolute;
  top: 0;
  right: 0;
  z-index: 99;
  background: url(/assets/review/camera.png) 0px no-repeat;
  /*This makes the button huge. If you want a bigger button, increase the font size*/
  /*Opacity settings for all browsers*/
  opacity: 0;
  -moz-opacity: 0;
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0)
}

#btn-attach-image{
  width: 32px;
  height: 30px;
  border: none;
  background: url(/assets/review/camera.png) 0px no-repeat;
  position: absolute;
  top: 0px;
  margin-left: 20px;
  text-outline: 0;
  cursor: pointer;
}

#form-control-submit{
  margin-bottom: 100px;
}

button#btn-talleeup{
  width: 290px;
  height: 62px;
  font-size: 18px;
  border-radius: 6px;
  border: transparent;
  background-color: #fccf0f;
  color: #13598C;
  font-weight: bolder;
  margin-top: 60px;
  margin-bottom: 0px;
}

.rate-control{
  //  margin-left: 30px;
  height: 60px;
  width: 500px;
  border: 2px solid #88898B;
  border-radius: 7px;
  background-color: #36C0DD;
  color: #A9A9A9;
  padding: 0px;
  font-weight: bolder;
  font-size: 15px;
  position: relative;
}

.rate-name{
//  height: 100%;
  background-color: transparent;
  width: auto;
  position: absolute;
  top: 22px;
  left: 16px;
  color: #ffffff;
  font-size: 13px;
  z-index: 99;
}

.rate-control .rate-number:first-child{
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.rate-number{
  float: left;
  width: 12.5%;
  height: 100%;
  line-height: 60px;
  text-align: center;
//  border: 1px solid red;
  background-color: #DFE3E6;
  color: #DFE3E6;
  font-size: 20px;
  z-index: 1;
  cursor:pointer;
}

.rate-result{
  float: left;
  width: 12.5%;
  height: 100%;
  line-height: 60px;
  text-align: center;
  background-color: #ffffff;
  color: #48C3E4;
  font-size: 20px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.reviews-select
{
  width: 500px;
  height: 54px;
  border-radius: 7px;
  text-align: center;
  border: 2px solid #248B15;
  color: #A9A9A9;
  font-size: 15px;
  font-weight: bolder;
}
.hover-tootip
{
  background: url('/assets/tooltip-review.png') no-repeat;
  width:120px;
  height: 43px;
  color: white;
  text-align: center;
  padding-top: 8px;
  font-size: 10pt;
  font-weight: bold;
  position: absolute;
  top: -40px;
  z-index: 9999;
}