<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Review</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>

</head>
<body>


<div id="profile-header-container"  class="container-fluid review-header-container">


  <nav id="navbar-container-fluid" class="container-fluid navbar">

    <div id="navbar-container" class="container">

      <div id="col-logo" class="col-md-5 col-xs-5">
        <img id="logo" src="/assets/userprofile/logo.png" />
      </div>

      <div id="col-form-search" class="col-md-5 col-xs-5">
        <form id="form-search">
          <img id="icon-map" src="/assets/userprofile/map.png" />
          <input id="txt-search" placeholder="Search" />
          <button id="btn-search" type="submit"></button>
        </form>
      </div>

      <div id="col-review" class="col-md-1 col-xs-1">
        <button id="btn-review-top">REVIEW</button>
      </div>

      <div id="col-avatar" class="col-md-1 col-xs-1">
        <img id="avatar" class="img-circle img-responsive" src="/assets/userprofile/avatar.png" />
        <img id="icon-avatar" class="img-circle img-responsive" src="/assets/userprofile/icon-avatar.png" />
      </div>

    </div>
  </nav>


  <div id="review-titles" class="container-fluid">
    <h1 id="review-titles-top" class="center-block">
      RATE A BURGER
    </h1>
    <h3 id="review-titles-bottom" class="center-block">
      Please empart your burger wisdom upon us all
    </h3>
  </div>

  <%= yield %>

  <!-- End header -->
</div>
<!-- End header-container -->



<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

<script>

  function responsive(){


    var width = $(window).width();

    if (width <= 470) {
        $('#profile-user-image').removeClass('pull-right').addClass('center-block');
        $('#col-profile-info').addClass('center-block');
        $('#logo').attr('src', '/assets/userprofile/logo-mobile.png')
    }else{
        $('#profile-user-image').removeClass('center-block').addClass('pull-right');
        $('#col-profile-info').removeClass('center-block');
        $('#logo').attr('src', '/assets/userprofile/logo.png')
    }
  };

  $(document).ready(function(){

      responsive();

      $(window).resize(function() {
          responsive();
      });


      $('.rate-number').hover(function()
      {
          var numRate = $(this).text();
          var rateControl = $(this).closest('.rate-control');

          rateControl.children('.rate-result').text(numRate);
          rateControl.children().slice(0, numRate).css({'background-color': '#38BEDE', 'color': '#38BEDE'});
          rateControl.children().slice(numRate, 7).css({'background-color': '#DFE3E6', 'color': '#ffffff'});

          var totalRate = 0;
          $('.rate-result').each(function(){
              totalRate += Number($(this).text());
          });

          $('.total-number').text(totalRate);
      });

  });// end ready
</script>

</body>
</html>